#!/bin/sh
# restart-container.sh - restarts/starts container
# Usually called remotely by jenkins
# Usage: restart-container.sh API-NAME API-VERSION API-ENVIRONMENT API-TYPE

set -eu

api_name=$1
api_version=$2
api_environment=$3
api_type=$4

container_name="$api_name.$api_version.$api_environment"

{% raw %}
if $(docker inspect -f {{.State.Running}} $container_name); then
{% endraw %}
  echo "$container_name is running. Restarting container."
  docker restart $container_name
else
  echo "$container_name is not running. Starting container."
  if $api_type == "express-api"; then
    {{ start_express_container_path }} $api_name $api_version $api_environment
  else
    {{ start_dropwizard_container_path }} $api_name $api_version $api_environment
  fi
fi
