sleep {{ timeout_delay }}
{% raw %}
if [ $(docker inspect --format='{{json .State.Health.Status}}' $api_name) != "\"healthy\"" ]; then
{% endraw %}
  echo "ERROR: Container not healthy after {{ timeout_delay }} seconds"
  exit 1
else
  echo "Container healthy after {{ timeout_delay }} seconds"
fi
