timeout={{ container_timeout_seconds }}
counter=$timeout
{% raw %}
while [ $(docker inspect --format='{{json .State.Health.Status}}' $api_name) != "\"healthy\"" ] && [ $timeout != 0 ]; do
{% endraw %}
  sleep 1
  timeout=$((timeout - 1))
done
if [ $timeout == 0 ]; then
  echo "ERROR: Container health timeout expired after $timeout seconds"
  exit 1
else
  echo "Container healthy after $((timeout - counter)) seconds"
fi
