docker exec -i $container_name /bin/bash <<EOF
timer=0
timeout={{ container_timeout_seconds }}
echo "waiting for container to be healthy..."
until $health_command > /dev/null 2>&1; do
    if [ \$timer -ge \$timeout ]; then
        echo "container not healthy after \$timeout seconds"
        exit 1
    fi
    sleep 1
    timer=\$((\$timer + 1))
done
echo "container healthy after \$timer seconds"
EOF
