# /etc/supervisord.conf.d/hubot.conf
# service configuration for hubot

[program:hubot]
command=/home/hubot/hubot/bin/hubot --adapter {{ hubot_adapter }}
directory=/home/hubot/hubot
user=hubot
autostart=true
autorestart=true
startsecs=12
redirect_stderr=true
stdout_logfile=/var/log/hubot/hubot.log
