keytool \
    -genkeypair \
    -dname "{{ key_dname }}" \
    -ext "{{ key_ext }}" \
    -alias {{ key_alias }} \
    -keyalg {{ key_alg }} \
    -keysize {{ key_size }} \
    -sigalg {{ sig_alg }} \
    -validity {{ key_validity }} \
    -storepass {{ store_psd }} \
    -keypass {{ key_psd }} \
    -keystore {{ key_alias }}.keystore

keytool \
    -exportcert \
    -rfc \
    -alias {{ key_alias }} \
    -keystore {{ key_alias }}.keystore \
    -storepass {{ store_psd }} \
    -keypass {{ key_psd }} \
    -file {{ key_alias }}.pem

keytool \
    -importcert \
    -alias {{ key_alias }} \
    -file {{ key_alias }}.pem \
    -storepass {{ store_psd }} \
    -keypass {{ key_psd }} \
    -noprompt \
    -keystore {{ key_alias }}.truststore