#!/bin/bash

# backup-removal.sh
# Removes any backed up images older than the backup_max_age parameter

backup_max_age={{backup_max_age}}
backup_images_path="{{garbage_home}}/{{backup_images_dir}}"
log_path="{{garbage_home}}/{{log_file}}"

{% raw %}

for backup_file in $backup_images_path/*; do
    if [ $(stat -c %Y $backup_file) -lt $(date -d '-4 week' +%s) ]
    then
        rm $backup_file
        if [ $? -eq 0 ]
        then
            echo $(date) "Removed $backup_file from backup" >> ${log_path}
        else
            echo $(date) "Failed removing $backup_file from backup" >> ${log_path}
        fi
    fi
done

{% endraw %}
