#!/bin/sh
# gen-openssl-certs.sh - generate certificates by openssl

# usage: gen-openssl-certs.sh

set -eu

mkdir -p {{ openssl_backup_path }}
chown -R {{ api_user }}:{{ api_group }} {{ openssl_backup_path }}

for cert_file in {{ keytool_files_path }}/{{ key_alias }}.*; do
  if [ -e $cert_file ]; then
    mv "$cert_file" {{ openssl_backup_path }}/
  fi
done

openssl req \
        -nodes \
        -newkey rsa:2048 \
        -days 365 \
        -nodes \
        -x509 \
        -subj "/C={{ key_country }}/ST={{ key_state }}/L={{ key_location }}/O={{ key_organization }}/OU={{ key_organization_unit }}/CN={{ key_common_name }}" \
        -keyout {{ key_alias }}.pem \
        -out {{ key_alias }}.crt

chown {{ api_user }}:{{ api_group }} {{ key_alias }}.*
mv {{ key_alias }}.* {{ keytool_files_path }}/
