keystore="/apis/keytool_files/{{ key_alias }}.keystore"
truststore="/apis/keytool_files/{{ key_alias }}.truststore"

GenerateKey () {
	keytool \
		-genkeypair \
		-dname {{ key_dname | quote }} \
		-ext {{ key_ext | quote }} \
		-alias {{ key_alias | quote }} \
		-keyalg {{ key_alg }} \
		-keysize {{ key_size }} \
		-sigalg {{ sig_alg }} \
		-validity {{ key_validity }} \
		-storepass {{ store_password | quote }} \
		-keypass {{ key_password | quote }} \
		-keystore "$1"
}

ImportCert () {
	keytool \
		-exportcert \
		-rfc \
		-alias {{ key_alias | quote }} \
		-keystore "$1" \
		-storepass {{ store_password | quote}} \
		-keypass {{ key_password | quote }} \
		-file /apis/{{ key_alias }}.pem

	keytool \
		-importcert \
		-alias {{ key_alias | quote }} \
		-file /apis/{{ key_alias }}.pem \
		-storepass {{ store_password | quote }} \
		-keypass {{ key_password | quote }} \
		-noprompt \
		-keystore "$2"
	
	# clean up pem file
	rm /apis/{{ key_alias }}.pem
}

# Keystore
if [ -f $keystore ]; then
	echo "$keystore already exists!"

	keystore_error_check="$(keytool -list -v -keystore "$keystore" -storepass {{ store_password | quote }} | grep error)"
	keystore_alias_check="$(keytool -list -v -keystore "$keystore" -storepass {{ store_password | quote }} | grep {{ key_alias }})"
	if [ ! -z "$keystore_error_check" ]; then
		echo "$keystore_error_check"
		exit 1
	elif [ ! -z "$keystore_alias_check" ]; then
		echo "Keystore: {{ key_alias }} already exists! Renewing {{ key_alias }} ..."
		keytool \
			-delete \
			-alias {{ key_alias | quote }} \
			-keystore "$keystore" \
			-storepass {{ store_password | quote }}
		GenerateKey "$keystore"
		keytool -list -v -keystore "$keystore" -storepass {{ store_password | quote }} | grep "Valid"
	else
		echo "Keystore: {{ key_alias }} does not exist! Adding {{ key_alias }} ..." 
		GenerateKey "$keystore"
		keytool -list -v -keystore "$keystore" -storepass {{ store_password | quote }} | grep "Valid"
	fi

else
	echo "Keystore: "$keystore" does not exist! Generating "$keystore" ..."
	GenerateKey "/apis/{{ key_alias }}.keystore"
fi

# Truststore
if [ -f "$truststore" ]; then
	echo "$truststore already exists!"

	truststore_error_check="$(keytool -list -v -keystore "$truststore" -storepass {{ store_password | quote }} | grep error)"
	truststore_alias_check="$(keytool -list -v -keystore "$truststore" -storepass {{ store_password | quote }} | grep {{ key_alias }})"
	if [ ! -z "$truststore_error_check" ]; then
		echo "$truststore_error_check"
		exit 1
	elif [ ! -z "$truststore_alias_check" ]; then
		echo "Truststore: {{ key_alias }} already exists! Renewing {{ key_alias }} ..."
		keytool \
			-delete \
			-alias {{ key_alias | quote }} \
			-keystore "$truststore" \
			-storepass {{ store_password | quote }}
		ImportCert "$keystore" "$truststore"
		keytool -list -v -keystore "$truststore" -storepass {{ store_password | quote }} | grep "Valid"
	else
		echo "Truststore: {{ key_alias }} does not exist! Adding {{ key_alias }} ..." 
		ImportCert "$keystore" "$truststore"
		keytool -list -v -keystore "$truststore" -storepass {{ store_password | quote }} | grep "Valid"
	fi

else
	echo "Truststore: "$truststore" does not exist! Generating "$truststore" ..."
	ImportCert "/apis/{{ key_alias }}.keystore" "/apis/{{ key_alias }}.truststore"
fi