
worker_processes  auto;

events {
    worker_connections  512;
}

http {
    default_type       application/octet-stream;
    sendfile           on;
    keepalive_timeout  65;

    server {
        # ipv4
        listen              {{ nginx_port }} ssl;
        # ipv6
        listen              [::]:{{ nginx_port }} ssl;

        server_name         localhost *.oregonstate.edu;
        root                /usr/src/onbase-docs-api/OnBaseDocsApi;
        ssl_certificate     {{ nginx_cert }};
        ssl_certificate_key {{ nginx_cert_key }};
        client_max_body_size 100M;

        location / {
            fastcgi_index Index.aspx;
            fastcgi_pass  127.0.0.1:8000;
            include       /usr/src/onbase-docs-api/conf/fastcgi_params;
        }
    }

    include servers/*;
}
