#!/bin/sh

set -eu

# Name for container and image tag
CONTAINER_NAME=hubot

# Stop and destroy container if it's already running.
echo "Stop existing container"
docker rm -f $CONTAINER_NAME &

# Sometimes docker will still think a container exists after doing "docker rm"
# Pause the script for a few seconds before creating the container again
sleep 8

echo "Build container image"
docker build -t $CONTAINER_NAME {{ hubot_path|quote }}

echo "Start container"
docker run \
    -d \
    --volume {{ hubot_path|quote }}/local.env:/src/hubot/local.env:ro \
    --name="$CONTAINER_NAME" \
    --restart always \
    $CONTAINER_NAME

if [[ ! $(docker ps -q -f name=$CONTAINER_NAME) ]]; then
    echo "ERROR: Container not running"
    exit 1
fi
